.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
